.container {
  padding: 10px;
}

.inputs {
  display: inline-flex;
}

.inputs > button {
  margin-left: 10px;
}

.newsItem {
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid #000;
}

.title {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.index {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-right: 12px;
}

.link:hover {
  color: blue;
  text-decoration: underline;
}

.subTitle {
  display: flex;
  justify-content: space-between;
}
